* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(175, 213, 175);
}

#wrapper{
    width:100%;
    height:100vh;
    displaY:flex;
    align-items: center;
    justify-content: center;
}

#mailbox-container{
    width: 205px;
    height:350px;
    border:16px solid rgb(37, 37, 188);
    border-bottom:none;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    displaY:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}
#inbin-container,#outbin-container{
    border:2px solid #000;
    width:100%;
    background:rgba(37, 37, 188, 0.929);

}
#inbin-container{
    margin-top:-.75rem;
    height:100px;
    displaY:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 32px .6px #000;
    overflow:hidden;
}

.bin-div{
width:80%;
height:50%;
z-index: 999;
}
#inbin-container>.bin-div:nth-child(1){
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top: 65px solid rgb(69, 69, 207);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    transition: 1s;
}
#inbin-container>.bin-div:nth-child(2){
  border-top:.5px solid #000;
  border-bottom: 65px solid rgb(69, 69, 207);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
}
#inbin-container>.bin-div:nth-child(1):hover{
  -webkit-transform: scaleX(-1);
  opacity:0;
  transform: scaleY(-1);
}
#black-abs{
background:#000;
position:absolute;
height:50px;
width:50px;
z-index: 999;
}
#span-bg{
    height:100%;
    width:100%;
    background:#000;
    position:absolute;
}
#attach-bin{
  height:25px;
  border-bottom:1.5px solid #000;
  width:100%
}
#handle{
height:5px;
width:50px;
border:2px solid navy;
z-index: 999;
position:absolute;
top:-30px;
}
#outbin-container{
    height:175px;
    displaY:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.keyhole{
    margin-top:.75rem;
    transform:scale(1.15);
    transition: 1s;
}
.keyhole:active{
transform:scale(1.5) rotate(360deg);
}
